// Navigation code here
.nav{
    padding:2%;
    .center();
  }
  flex-direction:column;
  .nav nav{
    font-size:2rem;
    .center();
    justify-content:space-between;
    width:50%;
      a{
        text-decoration:none;
        color:black;
          &:hover{
            color:grey;
          }
      }